.container {
  max-width: $lg;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  font-family: $headings-font-family;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;

  a {
    color: inherit;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .date {
      flex-grow: 1;
      padding-top: 15px;
    }
    .logos {
      padding-top: 6vh;
      padding-bottom: 30px;
      margin-left: -10px;

      .logo {
        display: block;
        padding: 10px;
        height: 45px;

        &.oki {
          width: 172px;
        }
      }
      svg {
        fill: currentColor;
        width: 100%;
        height: 100%;
      }
    }
  }

  .title,
  .sub-title {
    mix-blend-mode: multiply;
  }

  .title,
  .sub-title,
  .authors {
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    z-index: 1;
  }

  .sub-title{
    font-weight: bold;
  }

  .title {
    font-weight: 900;
    font-size: 3.5vw;
    letter-spacing: 0.05em
  }

  .sub-title {
    margin-top: 10vh;
    font-size: 2.5vw;
  }

  .authors {
    margin-top: 30px;
    font-size: 1.5vw;

    .author {
      font-weight: bold;
    }
  }
}
